{% extends 'base.html' %}

{% block content %}
<h1>User Form List</h1>
<ul>
    <table>
        <tbody>
        <tr>
    <th>Name</th>
    <th>Email</th>
    <th>DOB</th>
    <th>phone</th>
    <th>created At(time)</th>
  </tr>
{% for user_form in user_forms %}
        <tr>
            <td>{{ user_form.name }}</td>
            <td>{{ user_form.email }}</td>
            <td>{{ user_form.dob }}</td>
            <td>{{ user_form.phone_number }}</td>
            <td>{{ user_form.created_at }}</td>
       </tr>
{% empty %}
    <li>No user forms submitted yet.</li>
{% endfor %}
        </tbody>
</ul>
</table>
{% endblock %}
